
@media only screen and (max-width: 450px) {
  .container{
    margin: auto;
    padding: 0;
    float: none;
    font-size: 100%;
    
    
    
  }
.container img{
    width: 100%;
    height: auto;
}

/* carrossel */

.slideshow-container {
  width: 100%;
  height: 200px;
  position: relative;
  margin: auto;

}
.mySlides img{
  width: 100%;
  height: 200px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


/* fim carrossel */

.primeio-baner img{
  width: 100%;

}

.grid-container1 {
  display:block;
 
  /* background-color: #2196F3; */
  padding: 0;
  }
  .foto_link img{
    border-radius: 20px;
    padding: 10px;

  }
  .foto_link img:hover{
    opacity:0.5;
    
  }
  .grid-container {
    display:grid;
    grid-template-columns: auto auto auto;
    gap:30px;
    padding: 20px;
  }
  .titulo-principal{
    padding: 10px;
  }


.titulos{
    font-family:nav;
    font-size: 40px;
}
.linhas{
    width: 100px;
    height: 4px;
    background-color: #1b1b1b;;
    border-radius: 5px;
  }
  .barra{
    overflow: auto;
  }

.grid-container-main {
    display:grid;
    grid-template-columns: auto auto auto auto;
    gap:30px;
    padding: 20px;
    width:1000px;
  }

  .card{
    text-align: center;
    padding: 5px;
    /* border: 1px solid black; */
  }
  .card:hover{
    box-shadow:0px 0 8px 2px #2c2c2c70;
 
  }
  .preco{
    margin-top: 30px;
  }
  .preco p{
    margin-top:10px;
  }
  .preco span{
    font-weight: 600;
  }
  .preco:hover{
    opacity: 0.5;
  }
  .compre{
    display: flex;
    background-color: #1b1b1b;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 6px;
    margin: 50px 0 20px 0 ;
  }
 
  .compre img{
    width: 15%;
    padding: 5px;
    margin-right: 20px; 
  }

  .img-card{
    justify-content: center;
    height: 180px;
    padding: 5px;
  
  }  
  .valor{
    font-size: 25px;
    font-weight:600;
  }
.card2{
  display: grid;
  margin: auto;
  
  justify-content: center;
  grid-template-columns: auto auto ;
  justify-content: space-around;
  align-items: center;
}
.card-solo{
  display: none;
  width: 60%;
  padding: 9px;
  text-align: center;
  margin: auto;
  
}
.card-solo:hover{
  box-shadow:0px 0 8px 2px #2c2c2c70;
  
}
.tam-img{
  
  width: 100%;
margin: auto;
}
.tam-img2{
  width: 100%;
}
.baner-todo img{
width: 100%;
align-items: center;
}
.email{
  display: block;
  justify-content: space-around;
  text-align: center;
  background-color: #1b1b1b;
  padding: 20px;
  color: white;

}
.inp-email{
  width: 100%;
  background-color: antiquewhite;
}
.inp-email input{
  display: none;
  width: 100%;
  height: 100%;
}

.inp-email button{
  display: none;
  margin-top: 8px;
  /* margin-left: -80px; */
  background-color: #c70000;
  color: white;
  padding: 8px;
  font-family: nav;
  font-weight: bold;
  font-size: 20px;
  font-size: auto;
  border: none;
}
.inp-email2{
  display: block;
  height: 40px;
  
}
.inp-email2 input{
  width: 100%;
  height: 40px;
}

.inp-email-button button{
  width: 100%;
  height: 40px;
  background-color: #c70000;
  color: white;
  padding: 8px;
  font-family: nav;
  font-weight: bold;
  font-size: 20px;
  font-size: auto;
  border: none;
}


.grid-container-footer{
  display:block;
  padding: 5px;
    grid-template-columns: auto auto auto;
    gap:30px;
    background-color: #1b1b1b;
    color: white;
    align-items: center;
    padding: 20px;

}
.receba span{
  color: #c70000;
}
.tipo-pagamento{
  margin: auto;
  margin-top:20px;
  width: 100%;
}
.tipo-pagamento img{
  width: 100%;
}
.sobre-o-site{
  text-align: justify;
  margin-top:20px;
}
.sobre-o-site h3{
  text-align: center;
  font-family: nav;
  font-size: 30px;
  margin-bottom: 20px;
  
}
.redesociais{
  display: grid;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
  gap:5px;
  grid-template-columns:40px 40px 40px;
  grid-template-rows: 40px 40px 40px ;

}
.redesociais img{
  margin: 5px;
}
.fim{
  background-color: #c70000;
  color: white;
  text-align: center;
  padding: 10px;
}
}
 

 
 
  



