@media only screen and (max-width: 450px) {
    /* para tablets: */
  
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  
    /* [class*="col-s-"] {
      float: left;
      padding: 15px;
      border: 1px solid rgb(34, 0, 255);
    } */
      
    header{
        background-color:#1b1b1b;
        color: white;
        padding: 10px;
        height: 180px;
    }
  
    .ajuda2{
      display: none;
      
    }
    .headerr{
      display: inline;
      width: 100%;

      background-color:#1b1b1b;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      text-align: center;
    
    }
    .logo{
    
        margin: auto;
        margin-left: 0;
        
      }
      .logo-foto {
        display: none;
      }
      .logo-escrito{
        font-family: nav;
        font-size: 2em;
        display: flex;
        margin: auto;
        padding: 20px 0px;
      }
      .table{
        display: flex;
    }
    .imagens{
    /* margin-left: -50%; */
      padding-top: 1;
    }
    /* .table>img {
        max-width: 45px;
        height: 45px;
      } */
    .prompt{
        padding: 0;
        
      }
      .prompt input{
        position: relative;
        width: 100%;
        height: 40px;
        border: none; 
        border-radius: 5px;
      }
      .prompt button{
        position: absolute;
        margin-top: 2px;
        margin-left: -75px;
      
      
       background-color: #BE1931;
        color: white;
        padding: 7px;
        font-family: nav;
        font-weight: bold;
        font-size: auto;
        border: none;
        border-radius: 5px;
      }
      .ajuda{
        display: flex;
        padding: 0 0 0 10px ;
      }
      
      .ajuda2{
        padding: 0 ;
        margin-right:30px ;
      }
      .navv{
        position: absolute;
        background-color: #1b1b1b;
         left:-100% ;
         transition: all 0.5s ease;
         z-index: 2;
      }
      .open{
        left: 0;
        
       }

       .change .linha1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
      }
      
      .change .linha2 {opacity: 0;}
      
      .change .linha3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
      }
      
    .navv2{
      display: block;
      list-style-type: none;
      padding: 10px;
      background-color: #1b1b1b;
      margin-left:0%;
    }
    a .menu2{
      margin-top:10px;
      width: auto;
      text-align: left;
    background-color: #1b1b1b;
      border-radius: 5px;
      transition: 0.6s;
    }
    a .menu2:hover{
      background-color: #BE1931;

    }
    .navv a .menu3{
      display: block;
    }
    .menu2{
      text-align:left;
      
      background-color: #BE1931;
      padding: 5px;
      margin-top: 10px;
    }
    .menu3{
      display: flex;
    align-items: center;
    text-align: center;
      background-color: #1b1b1b;
      color: white;
      padding: 5px;
      transition: 0.3s;
    }
 
    .entre{
      display: block;
      color: black;
      font-size: 15px;
    }
    .menu3 >div{
      margin-left: 20px;
    }
    .menu_linha {
        display: block;
        width: auto;
        cursor:pointer;

    }
    .menu_linha>div {
        width: 32px;
        height: 3px;
        border-radius: 2px;
        background-color: white;
        margin: 8px;
        transition: 0.4s;
    }
    .table2{
      display: none;
    }

    .container{
      margin: auto;
      float: none;
      padding: 10px;
      font-size:12px;
   
  
}
      
      
    }
    

  
  
    
    
  
  